<div class="infoNoModificable">
	{{ "Nombre: " }}
	{{ user.nombre }}
	<p></p>
	{{ "Apellidos: " }}
	{{ user.apellidos }}
<p></p>
</div>
<form class="formulario" action='{{ path("user_profile_edit") }}' method="POST"{{ form_enctype(form) }} ">
	{{ form_errors(form) }}
	{{ form_rest(form) }}
	<input type="submit">
</form>
