<div class="infoNoModificable">
	{% if (user.foto == null) %}
	<img alt="gayyyyyy" src="{{ asset('bundles/user/img/anonima.png') }}">
	{% else %}
	<img alt="gayyyyyy" src="{{ asset(rutaImg) }}"> 
	{% endif %}
	{{ "Nombre: " }}
	{{ user.nombre }}
	<p></p>
	{{ "Apellidos: " }}
	{{ user.apellidos }}
<p></p>
</div>
<form class="formulario" action='{{ path("user_perfil_edit") }}' method="POST"{{ form_enctype(form) }} ">
	{{ form_errors(form) }}
	{{ form_rest(form) }}
	<input type="submit">
</form>
