{% extends '::index.html.twig' %}
{% block content %}
<h1>Profesor</h1>

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('profesor') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('profesor_edit', { 'id': entity.id }) }}">
           Editar
        </a>
    </li>
    <li>
        <form action="{{ path('profesor_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}