{% extends '::index.html.twig' %}

{% block content %}
<h1>Juegos</h1>
{% if is_granted('ROLE_ADMIN') %}
<a class="btn" href="{{ path('juego_new') }}">Nuevo juego</a>
{% endif %}

{% for entity in entities %}
<div class="row-fluid accordion-group" style="padding: 20px 20px;">
	<div class="span4">
		<h3>{{ entity.nombre }}</h3>
		<img alt="" src="{{ asset('Juegos/'~entity.nombre |replace({' ':''}) ~'/'~entity.imagen) }}">
	</div>
	<div class="span5">
		<table class="table">
			<thead>
				<tr>
	            	<th>Descripcion</th>
	            </tr>
			</thead>
			<tbody>
		        <tr>
		            <td>{{ entity.descripcion }}</td>
		        </tr>
			</tbody>
		</table>
	</div>
	<div class="span3">
		<a class="btn" href="{{ entity.URL }}">Jugar!</a>
		{% if is_granted('ROLE_ADMIN') %}
			<a class="btn" href="{{ path('juego_edit', { 'id': entity.id }) }}">Editar</a>
		{% endif %}
	</div>
	<div class="span4">

	</div>
	
</div>
{% endfor %}
{% endblock %}
