{% extends '::index.html.twig' %}

{% block content %}
<h1>Juego</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Descripcion</th>
            <td>{{ entity.descripcion }}</td>
        </tr>
        <tr>
            <th>Imagen</th>
            <td>{{ entity.imagen }}</td>
        </tr>
        <tr>
            <th>Xml</th>
            <td>{{ entity.XML }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('juego') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('juego_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('juego_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" onclick="return confirm('¿Esta seguro que desea eliminarlo?')">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
