{#
<h1>Alumno edit</h1>

<form action="{{ path('alumno_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('alumno') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('alumno_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
#}
{#
{% extends "::base.html.twig" %}

{% block body %}
#}
{% extends '::index.html.twig' %}
{% block content %}
	<h1>Editar Alumno</h1>	

   	<form action="{{ path('alumno_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		{% if not(edit_form.getVars().valid)  %}
	 	   <div id="errors" class="alert alert-error"> 
		   	{{ form_errors(edit_form.userName) }}
		   	{{ form_errors(edit_form.Nombre) }}
		   	{{ form_errors(edit_form.Apellidos) }}
	 		{{ form_errors(edit_form.password.Contrasena) }}
	 		{{ form_errors(edit_form.password.Repita_contrasena) }}
	 		{{ form_errors(edit_form.foto) }}
	 		{{ form_errors(edit_form.fechaNacimiento) }}
		   </div>
		{% endif %}
		<div>
		   	{{ form_widget(edit_form.userName, { 'attr': {'placeholder': 'Nombre de Usuario'} }) }}<br />
		   	{{ form_widget(edit_form.password.Contrasena, { 'attr': {'placeholder': 'Password'} }) }}
		   	{{ form_widget(edit_form.password.Repita_contrasena, { 'attr': {'placeholder': 'Repita el password'} }) }}
		   	<a id="tooltip1" href="#" rel="tooltip" title="Si dejas las contraseñas en blanco no se modificaran."><i class="icon-info-sign"></i></a>
		</div>

	   	{{ form_widget(edit_form.nombre, { 'attr': {'placeholder': 'Nombre'} }) }}
	   	{{ form_widget(edit_form.apellidos, { 'attr': {'placeholder': 'Apellidos'} }) }}<br />
	    {{ form_widget(edit_form.diagnostico, { 'attr': {'placeholder': 'Diagnostico', 'maxlength':255, 'style': 'width:430px; height:110px'} }) }}<br />
	  	{{ form_widget(edit_form.curso, { 'attr': {'placeholder': 'Curso'} }) }}<br />
	    {{ form_widget(edit_form.fechaNacimiento, { 'attr': {'placeholder': 'Fecha de Nacimiento'} }) }}
	    <a id="tooltip2" href="#" rel="tooltip" title="El formato de la fecha es dd-mm-yyyy"><i class="icon-info-sign"></i></a>
	    <br />
	
	    {% if (entity.foto == 'defaultprofile.png') %}
			<img alt="" width="150" src="{{ asset('bundles/defaultprofile.png') }}">
		{% else %}				   
	 		<img alt="" width="150" src="{{ asset('uploads/'~entity.id~'/img/'~entity.foto) }}">
	    {% endif %}
	
	    {{ form_widget(edit_form.foto) }}<p />
	    {{ form_widget(edit_form._token) }}
  		<button class="btn" type="submit">Guardar Cambios</button>
 	    <form action="{{ path('alumno_delete', { 'id': entity.id }) }}" method="post">
	    	{{ form_widget(delete_form) }}
	        <button class="btn btn-danger" type="submit" onclick="return confirm('¿Esta seguro que desea eliminarlo?')"><i class="icon-remove"></i> Borrar Alumno</button>
		</form>
 	</form>
<script type="text/javascript">
$(document).ready(function () {
	$('*[id*=tooltip]:visible').each(function() {
	    $(this).tooltip({
	      'selector': '',
	      'placement': 'right'
	    });
    });
});
</script>
{% endblock %}