{#
{% extends '::base.html.twig' %}
{% block body %}
#}
      	<form id="search"  action={{ path('alumno_search') }} method="post" {{ form_enctype(form) }}>
      		{{ form_widget(form.search, { 'attr': {'placeholder': 'Buscar'} }) }}
      		{{ form_widget(form._token) }}
      	</form>
   		<div>
{#     	    <div class="accordion-inner span3">#}
   		      	<div id="result">
   		      	{% for res in result %}
   		      		<p>
	   		      		{{ res.nombreCompleto }}
{#	   		
	   		      		<a id="{{ res.id }}delete" href="{{ path('alumno_delete', { 'id': res.id }) }}">borrar<i class="icon-remove"></i></a>
#}	   		
	   		      		<a id="{{ res.id }}edit" href="{{ path('alumno_edit', { 'id': res.id }) }}">editar<i class="icon-pencil"></i></a>
   		      		</p>
   		      	{% endfor %}
	       		</div>
{#         	</div>#}
   		</div>	
   		<script type="text/javascript">
  		
		$('#result').click(function (e){
			if( $(e.target).is('a') ){
				//alert(e.target.href);
				var url = e.target.href;
			$('#content').load(url);
			}
			return false;
   	   	});

   		$('#Search_search').bind('keyup', function() { $('#search').submit(); } );
		$('#search').submit(function(e) {
   		    var url = $(this).attr("action");
   		    $.ajax({
   		        type: "POST",
   		        url: url, // Or your url generator like Routing.generate('discussion_create')
   		        data: $(this).serialize(),
   		        dataType: "html",
   		        success: function(msg){
   		           $('#result').html($(msg).find("#result").html());
   		        }
   		    });
   		    return false;
   		});
		</script> 
{#
{% endblock %}   	 
#}
{#
Borrar tiene q enviarse por post y editar ahora mismo se envia por get, 
tiene un rule_admin para que solo entre en admin aun asi...
#}
