	      	<form class="form-search" id="search"  action={{ path('alumno_search') }} method="post" {{ form_enctype(form) }}>
	      		{{ form_widget(form.search, { 'attr': {'placeholder': 'Buscar', 'class':'span9'} }) }}
	      		{{ form_widget(form._token) }}
	      		<button class="btn" type="submit"><i class="icon-search"></i></button>
	      	</form>
   		<div>
			<div id="result">
   		      	{% for res in result %}
   		      		<p>
	   		      		<a href="{{ path('alumnos_details', {'id': res.id}) }}"><i class="icon-user"></i> {{ res.nombreCompleto }}</a>
   		      		</p>
   		      	{% endfor %}
			</div>
   		</div>
				
   		<script type="text/javascript">
		//buscar como asociar al keyCode=13 que es el enter, si pulsas enter buscara mientras no...
   		$('#Search_search').bind('keyup', function(key) {if(key.keyCode==13)  $('#search').submit(); });//{ $('#search').submit(); } );
		$('#search').submit(function(e) {
			$('#result').html("Buscando... <img src='http://localhost/edukagames/web/bundles/user/img/ajax-loader.gif'>");
   		    var url = $(this).attr("action");
   		    $.ajax({
   		        type: "POST",
   		        url: url, // Or your url generator like Routing.generate('discussion_create')
   		        data: $(this).serialize(),
   		        dataType: "html",
   		        success: function(msg){
   	   		       if($(msg).find("#result").html().trim() == ""){
   	   	   		       $('#result').html("No hay coincidencias");
   	   	   		   }else{
   	   	   	   		   $('#result').html($(msg).find("#result").html());
   	   	   		   }
   		        }
   		    });
   		    return false;
   		});
		</script> 