{% extends '::index.html.twig' %}
{% block content %}
<h1>Creacion de informe de {{ alumno.nombre }}</h1>

<form action="{{ path('informe_create', {'id' : alumno.id}) }}" method="post" {{ form_enctype(form) }}>
	{{ form_rest(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('informe', {'id' : alumno.id}) }}">
            Back to the list
        </a>   
    </li>
</ul>
{% endblock %}