<h1>Informe</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Archivo</th>
            <td><a href="{{ asset('uploads/'~informe.alumno.id~'/informes/'~informe.nombreInforme ) }}">{{ informe.nombreInforme }}</a></td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ informe.fecha|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Descripcion</th>
            <td>{{ informe.descripcion }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('informe', { 'id': informe.Alumno.id }) }}">
            Volver a la lista
        </a>
    </li>
    <li>
       {# <a href="{{ path('informe_edit', { 'id': informe.id }) }}">#}
       <a href="{{ path('informe_update', { 'id': informe.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('informe_delete', { 'id': informe.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
