{% extends '::index.html.twig' %}
{% block content %}
<h1>{{ informe.nombreInforme }}</h1>

<table  class="table table-striped table-condensed" cellspacing="0">
 	<thead>
        <tr>
            <th>Archivo</th>
            <th>Fecha</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{{ asset('uploads/'~informe.alumno.id~'/informes/'~informe.nombreInforme ) }}">{{ informe.nombreInforme }}</a></td>
            <td>{{ informe.fecha|date('d-m-Y') }}</td>
            <td>{{ informe.descripcion }}</td>
            <td>
            	<form action="{{ path('informe_delete', { 'id': informe.id }) }}" method="post">
            		{{ form_widget(delete_form) }}
            		<a href="{{ path('informe_update', { 'id': informe.id }) }}"><i class="icon-pencil"></i></a>
            		<button class="btn btn-link" type="submit" onclick="return confirm('¿Esta seguro que desea eliminarlo?')"><i class="icon-remove"></i></button>
          		</form>
        	</td>
        </tr>
    </tbody>
</table>
	<a href="{{ path('alumnos_details', { 'id': informe.Alumno.id }) }}">
		<i class="icon-arrow-left"></i>Volver a la lista
	</a>
{% endblock %}